# ==================================
*.md linguist-detectable=false
Dockerfile linguist-detectable=false
*.html linguist-detectable=false
*.json linguist-language=Dockerfile
*.js linguist-language=TypeScript
*.jsx linguist-language=TypeScript
*.yml linguist-detectable=true
*.yml linguist-language=YAML
*.yml linguist-documentation=false
# ==================================